[Unit]
Description=VPN servise to VPN servers
After=sshd.service

[Service]
Type=dbus
ExecStart=/etc/openvpn/Startup-Script.sh
User=root
Type=forking

[Install]
WantedBy=multi-user.target
